@media screen and (max-width: 576px) {
    .agreements-links {
        flex-flow: column nowrap;
    }
}

h4 { font-weight: 400; }

.navbar {
    position: sticky;
    height: 72px;
    z-index: 1;
    top: 0px;
    background-color: white;
    box-shadow: 0 0 16px lightgray;
}

button { margin: auto 16px; }

#nav-btn {
    border-radius: 3px;
    border: 1px solid lightgray;
    color: black;
    font-weight: 500;
    padding: 10px 20px;
}

#nav-btn:hover { background-color: rgb(245, 245, 245); }

.search {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.search-input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #D8D8D8;
}

.search-input::placeholder {
    transition: all 0.2s ease-in;
    font-weight: 400;
    font-size: 17px;
    color: #D8D8D8;
}
.search-input:focus::placeholder { color: background; }

::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 14px;
    cursor: pointer;
}


#noneborder-row .card {
    margin-top: 16px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
}

.card-img { overflow: hidden; }

.card-text {
    margin-bottom: 4px;
}

body a {
    text-decoration: none;
    color: black;
}

.card:hover { background-color: rgb(245, 245, 245); }

.card img { transition: 0.3s; }

.card img:hover {
    transform: scale(1.03);
}

.row { margin-bottom: 48px; }

footer { background-color: #262626; }

hr {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid white;
}

.footer-logo {
    padding: 56px 0 40px 0;
}

.form-select {
    background-image: url(assets/footer/world.svg);
}

.footer-links { padding: 32px 0; }

.footer-links .row { margin-bottom: 0; }

.lang-selector-container {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 24px;
}

.lang-selector-container > img {
    position: relative;
    left: 10px;
    z-index: 1;
}

.lang-selector {
    position: relative;
    right: 20px;
    border-radius: 4px;
    border-color: #262626;
    color: white;
    font-size: 0.8rem;
    padding: 10px 0px 10px 46px;
    background: url(assets/footer/arrow-down.svg) 93% / 8% no-repeat #3B3B3B;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 12rem;
}

.social { margin-bottom: 39px; }

.hashtag { display: flex; margin-bottom: 16px; font-size: medium; }
.hash { color: #49A144; }
.tag { color: white; font-weight: 400; }

footer a {
    color: white;
    font-size: 13px;
    transition: color 0.3s;
}

footer a:hover {
    color: #D8D8D8;
}

.dw-links {
    display: flex;
    padding: 32px;
    gap: 30px;
    justify-content: center;
}

.agreements-links {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.agreements-links a {
    font-size: 11px;
    padding: 8px 0;
}